<mat-toolbar role="header">
  <div class="header">
    <a class="header-link" routerLink="" routerLinkActive="active-link"><mat-icon>videogame_asset</mat-icon>
    </a>
    <a class="header-link" routerLink="games" routerLinkActive="active-link">{{ 'ListOfGames' | translate }}
    </a>
    <a *ngIf="!authService.loggedIn()" class="header-link" routerLink="games/add" routerLinkActive="active-link">{{ 'AddNewGame' | translate }}
    </a>
    <div class="header-actions">
      <button *ngIf="authService.loggedIn()" class="btn-register" routerLink="register" routerLinkActive="active-link" mat-raised-button>{{ 'Register' | translate }}
      </button>
      <button *ngIf="authService.loggedIn()" class="btn-login" routerLink="login" routerLinkActive="active-link" mat-stroked-button>{{ 'Login' | translate }}
      </button>
      <button *ngIf="!authService.loggedIn()" class="btn-login" routerLink="profile" routerLinkActive="active-link" mat-stroked-button>{{ 'Profile' | translate }}
      </button>
      <button *ngIf="!authService.loggedIn()" class="btn-login" mat-stroked-button (click)="logout()">{{ 'Logout' | translate }}
      </button>
    </div>
  </div>
</mat-toolbar>
