<mat-toolbar role="header">
  <div class="header">
    <a class="header-link" routerLink="" routerLinkActive="active-link">Home
    </a>
    <a class="header-link" routerLink="games" routerLinkActive="active-link">List of games
    </a>
    <a class="header-link" routerLink="games" routerLinkActive="active-link">Add a game
    </a>
    <div class="header-actions">
      <button class="btn-register" routerLink="register" routerLinkActive="active-link" mat-raised-button>Register
      </button>
      <button class="btn-login" routerLink="login" routerLinkActive="active-link" mat-button>Login
      </button>
    </div>
  </div>
</mat-toolbar>
