mat-toolbar {
  background-size: cover;
  background-image: url('../../assets/header.jpg');
  height: 7.5vh;
  position: fixed;
  z-index: 2;
}

.header {
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  &-link {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  &-link:hover {
    color: #005CF9;
  }
}

.btn-login {
  margin-left: 1em;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff !important;
}
