.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap
}

.card {
  width: 300px;
}

.card-title {
  font-size: 1.5em;
}

.card-subtitle {
  font-size: 1.25em;
}


