<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Games</mat-card-title>
      <div class="cards">

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="card-title">Title</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Category</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://1.fwcdn.pl/po/84/37/608437/7703966.3.jpg" alt="Title">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ADD</button>
            <button mat-stroked-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="card-title">Title</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Category</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://1.fwcdn.pl/po/84/37/608437/7703966.3.jpg" alt="Title">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ADD</button>
            <button mat-stroked-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="card-title">Title</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Category</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://1.fwcdn.pl/po/84/37/608437/7703966.3.jpg" alt="Title">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ADD</button>
            <button mat-stroked-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="card-title">Title</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Category</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://1.fwcdn.pl/po/84/37/608437/7703966.3.jpg" alt="Title">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ADD</button>
            <button mat-stroked-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="card-title">Title</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Category</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://1.fwcdn.pl/po/84/37/608437/7703966.3.jpg" alt="Title">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ADD</button>
            <button mat-stroked-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="card-title">Title</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Category</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://1.fwcdn.pl/po/84/37/608437/7703966.3.jpg" alt="Title">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ADD</button>
            <button mat-stroked-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-card-content>
  </mat-card>
</div>
