<div class="container">
  <mat-card class="main">
    <mat-card-content class="main-content">
      <mat-card-title>{{ 'Games' | translate }}</mat-card-title>
      <div class="cards">

        <mat-card class="card" *ngFor="let game of games">
          <mat-card-header>
            <mat-card-title class="card-title">{{ game.title }}</mat-card-title>
            <mat-card-subtitle class="card-subtitle">{{ game.category }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{ game.cover }}" alt="{{ game.title }}">
          <mat-card-content>
            <p>
              {{ game.desc }}
            </p>
          </mat-card-content>
          <mat-card-actions class="card-buttons">
            <button mat-button>{{ 'Add' | translate }}</button>
            <button mat-stroked-button>{{ 'Share' | translate }}</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-card-content>
  </mat-card>
</div>
