/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme.scss";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.mat-raised-button,
.mat-button,
.mat-card {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.main {
  box-shadow: none !important;
}

@media only screen and (max-width: 599px) {
  .mat-card {
    padding: 24px 0px;
  }
}

.container {
  height: 92.5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.main-content {
  margin-top: 7.5vh !important;
}

.mat-button {
  color: #005CF9;
}

.mat-raised-button {
  color: #fff;
  background-color: #005CF9;
}

.mat-stroked-button {
  background-color: transparent;
  color: #005CF9;
  border: 1px solid #005CF9 !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: #005CF9;
}
