<div class="container">
  <mat-card class="main">
    <mat-card-content class="main-content">
      <mat-card-title>{{ 'Welcome' | translate }}</mat-card-title>
      <h2 class="welcome">{{ 'PageWithAdvices' | translate }}</h2>
      <div class="mat-icons">
        <mat-icon class="mat-icon">videogame_asset</mat-icon>
        <mat-icon class="mat-icon">videogame_asset</mat-icon>
        <mat-icon class="mat-icon">videogame_asset</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>
